<!DOCTYPE html>
<html>
  <head>
    <title>Resultado da busca de CEP</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1>Resultado da busca de CEP</h1>
    {% if data %}
    <table>
      <tr>
        <th colspan="2">Endereço</th>
      </tr>
      <tr>
        <td class="label">CEP:</td>
        <td class="value">{{data.cep}}</td>
      </tr>
      <tr>
        <td class="label">Logradouro:</td>
        <td class="value">{{data.logradouro}}</td>
      </tr>
      <tr>
        <td class="label">Bairro:</td>
        <td class="value">{{data.bairro}}</td>
      </tr>
      <tr>
        <td class="label">Cidade:</td>
        <td class="value">{{data.localidade }}</td>
      </tr>
      <tr>
        <td class="label">Estado:</td>
        <td class="value">{{data.uf}}</td>
      </tr>
      <tr>
        <td class="label">IBGE:</td>
        <td class="value">{{data.ibge}}</td>
      </tr>
      <tr>
        <td class="label">DDD:</td>
        <td class="value">{{data.ddd}}</td>
      </tr>
  
    </table>

    {% else %}
      <p>CEP não encontrado</p>

    {% endif %}

  </body>
</html>