<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">  
  </head>
  <body>
    <div class="container">
      <h1>Busca de endereço</h1>
      Escolha o que deseja encontrar:</br></br>
      <a href="/cep"><button type="submit" label="CEP">Endereço</button></a>
      <a href="/endereco"><button type="submit" label="Endereço">CEP</button></a>
    </div>
  </body>
</html>